body {
  background-color: rgb(252, 252, 170);
}

p,
ul,
ol {
  font-size: 20px;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

h1 {
  font-weight: bold;
  text-decoration: underline;
}

.header-section p {
  font-size: 25px;
  padding: 10px;
}

p>span {
  font-style: italic;
}

p .love {
  font-style: normal;
  color: red;
}

p span:last-child {
  text-decoration: underline;
}

.intro {
  width: 39%;
  float: left;
}

.header-section img {
  border: 10px solid #ffab36;
  padding: 5px;
  margin-bottom: 30px;
  width: 56%;
  float: left;
}

@media (max-width: 750px) {
  header {
    margin: auto;
    width: 70%;
  }
  .intro {
    width: 100%;
    float: left;
  }
  .header-section img {
    border: 10px solid #ffab36;
    padding: 5px;
    margin-bottom: 30px;
    width: 80%;
    float: left;
  }
}

@media (max-width: 400px) {
  header {
    margin: 0;
    width: 100%;
  }
  .intro {
    width: 100%;
    float: left;
  }
  .header-section img {
    border: 10px solid #ffab36;
    padding: 5px;
    margin-bottom: 30px;
    width: 90%;
    float: left;
  }
}

ul.ingredients {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

ul.ingredients li {
  padding-left: 2em;
  text-indent: -1em;
}

ul.ingredients li:before {
  content: "🛒";
  padding-right: 5px;
}

ul.example-img {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  padding-right: 30px;
}

ul.example-img img {
  width: 90%;
  height: 90%;
}

@media (max-width: 750px) {
  ul.example-img {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  ul.example-img img {
    width: 60%;
    height: 100%;
    margin-left: 125px;
  }
}

@media (max-width: 400px) {
  ul.example-img {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  ul.example-img img {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

.clear {
  clear: both;
}

#superb img {
  width: 100%;
}

#superb {
  width: 60%;
  border: 10px solid #ffab36;
  padding: 5px;
  margin: auto;
}

.sampleRecipes {
  border: 10px solid #ffab36;
  padding: 10px 30px;
}